img {
    width: 47px;
    height: 50px;
}

.navbar {
    background-color: #25242A;
    display: flex;
    height: 10vh;
    justify-content: space-between; /* Align items at start and end */
    align-items: center; /* Center items vertically */
}


.navbar,
.nav-link,
.nav-brand
{
    letter-spacing: 1.2px;
}

.navLink {
    color: #fff !important; /* Default link color */
    font-size: 16px;
    position: relative;
    padding: 10px 15px;
    margin-right: 10px;
    text-decoration: none;
}

.navLink::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2.2px;
    background-color: #7eec6d;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navLink:hover::before {
    width: 100%;
    left: 0;
}

.navLink:hover {
    color: #7eec6d !important; /* Color on hover */
}

.navLink-div {
    width: 60vw;
    gap: 20px;
    display: flex ;
    justify-content: center ;
}

body {
    background-color: #1C1B1E;
}

.navbar-brand {
    color: aliceblue !important;
}

.logo {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    gap: 6px;
    border-radius: 18px;
    margin-left: -55px;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1); /* Increase the scale on hover */
}

.contact-btn {
    transition: 0.3s ease;
    text-align: center;
    border: none;
    font-weight: 400;
    color: black;
    box-shadow: 0 0 10px #7eec6d;
    background-color: #7eec6d !important;
}
#cont-btn{
    position: absolute;
    right: 4%;
    top: 25%;
}
.contact-btn:hover{
    color: black;
}

.ham{
    display: none !important;
    font-size: 30px;

}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    /* Your styles for iPhone SE (2nd generation) */
    .navbar-toggler{
        display: none;
    }
    .ham {
        display: block !important;
        /* position: fixed !important; */
        transition: 0.4s;
        margin-left: 310px;
        z-index: 100;
        color: #7eec6d !important;
        font-size: 35px;
        
}
    
   .logo img{
    height: 35px;
    width: 35px;
   }
 
   .logo{
    position: absolute;
    right: 38%;
    /* top: 1%; */
   }

.contact-btn{
    margin-bottom: 20px;
}
#cont-btn{
    position: relative;
}
.ham.open {
  
    animation: rotateMenu 0.5s linear;
  
}
  
  @keyframes rotateMenu {
    0% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
}
    100% {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
}
  }
 .navLink-div {
  background: #25242A;
  z-index: 10000;
     background: #25242A;
    z-index: 10000;
    width: 100vw;
    position: absolute;
    gap: 20px;
    margin: 50px -12px !important;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: height 0.4s ease;
    overflow: hidden;
    max-height: 0;
}


  
  .navLink-div.expanded {
    max-height: 100vh;
    max-width: 100vw !important; /* Expanded width */
  } 
  
  
 
     
}